<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

    <display-name>StudentEnrollmentWithJDBC</display-name>
  
  	<context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>appJDBCServlet</servlet-name>
  	<servlet-class>com.myApp.controller.AppController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>appJDBCServlet</servlet-name>
  	<url-pattern>/AppController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>enrollJDBCServlet</servlet-name>
  	<servlet-class>com.myApp.controller.EnrollController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>enrollJDBCServlet</servlet-name>
  	<url-pattern>/EnrollController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>contactJDBCServlet</servlet-name>
  	<servlet-class>com.myApp.controller.ContactController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>contactJDBCServlet</servlet-name>
  	<url-pattern>/ContactController</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>feedbackJDBCServlet</servlet-name>
  	<servlet-class>com.myApp.controller.FeedbackController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>feedbackJDBCServlet</servlet-name>
  	<url-pattern>/FeedbackController</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>com.myApp.controller.LogOutController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogOutController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<servlet-class>com.myApp.controller.AdminController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>AdminCourseServlet</servlet-name>
  	<servlet-class>com.myApp.controller.AdminCourseController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AdminCourseServlet</servlet-name>
  	<url-pattern>/AdminCourseController</url-pattern>
  </servlet-mapping>
  
     <servlet>
  	<servlet-name>AdminFeedbackServlet</servlet-name>
  	<servlet-class>com.myApp.controller.AdminFeedbackController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AdminFeedbackServlet</servlet-name>
  	<url-pattern>/AdminFeedbackController</url-pattern>
  </servlet-mapping>
  
     <servlet>
  	<servlet-name>AdminUsersServlet</servlet-name>
  	<servlet-class>com.myApp.controller.AdminUsersController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AdminUsersServlet</servlet-name>
  	<url-pattern>/AdminUsersController</url-pattern>
  </servlet-mapping>
  
       <servlet>
  	<servlet-name>AdminCourseAddServlet</servlet-name>
  	<servlet-class>com.myApp.controller.AdminCourseAddController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AdminCourseAddServlet</servlet-name>
  	<url-pattern>/AdminCourseAddController</url-pattern>
  </servlet-mapping>
  
       <servlet>
  	<servlet-name>AdminContactServlet</servlet-name>
  	<servlet-class>com.myApp.controller.AdminContactController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AdminContactServlet</servlet-name>
  	<url-pattern>/AdminContactController</url-pattern>
  </servlet-mapping>
  
  

  
</web-app>